* {
    margin: 0;
    padding: 0;
}

body {
    color: #e4e9f2;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(90deg, rgb(48, 2, 112), rgb(131, 45, 230));;
    /* background: linear-gradient(60deg, blue, green) */
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    display: block;
    background: linear-gradient(60deg, rgb(38, 2, 80), rgb(51, 3, 132));
    border-bottom: 1px solid darkblue;
    width: 100vw;
    height: 70px;
    z-index: 10;
    flex-wrap: wrap;
}

.list {
    display: flex;
    /* justify-content: right; */
    position: absolute;
    top: 2px;
    right: 2px;
    margin: 0;
    flex-wrap: wrap;
}

.list li {
    list-style-type: none;
    top: 20px;
    padding: 20px 30px 23px 30px;
    border: 1px solid rgb(16, 125, 234);
    box-shadow: 4px 2px rgb(16, 229, 45);
    text-decoration: none;
    transform: skewX(-20deg);
}

.list a:last-child li {
    border-right: none;
    box-shadow: 0px 2px rgb(16, 229, 45); 
}

.list a li {
    text-decoration: none;
    color: lightgreen;   
}

.list a li:hover {
    background: linear-gradient(10deg, blue, rgb(6, 144, 144, 0.3));
    cursor:pointer;
    animation: navHover 0.2s;
}

@keyframes navHover {
    0% {
        background: rgb(30, 15, 131);
    }
    25% {
        background: linear-gradient(4deg, blue, rgb(6, 144, 144, 0.3));
    }
    50% {
        background: linear-gradient(7deg, blue, rgb(6, 144, 144, 0.3));
    }
    75% {
        background: linear-gradient(12deg, blue, rgb(6, 144, 144, 0.7));
    }
    100% {
        background: linear-gradient(13deg, blue, rgb(6, 144, 144, 0.1));
    }
}

.list a li:active {
    a {
        font-weight: 300;
        color:blue;
    }
    box-shadow: 2px 1px rgb(16, 229, 45);
    transform: translate(3px,1px) skewX(-22deg);
}

#home {
    background-color: unset;
    cursor: pointer;
    font-size: 50px;
    text-align:right;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: unset;
}

#home span {
    position: absolute;
    margin-top: 5px;
    margin-left: 20px;
}

#home:active {
    background-color: unset;
    border: 0.3px solid lightblue;
}

.sloganContainer {
    text-align: center;
    margin-top: 10vh;
}

.slogan {
    font-size: 5vw;
    padding: 2vw;
    background: linear-gradient(rgb(24, 54, 223), rgb(54, 134, 219));
    text-decoration: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: scale(1.1, 1.1);
    animation: 1.5s spread;
    animation-iteration-count: 1;
    margin-bottom: 10px;
}

@keyframes spread {
    from {
        padding: 10px;
        transform: scale(1, 1);
    } to {
        padding: 30px;
        transform: scale(1.1, 1.1);
    }
}

#servercount {
    position: relative;
    bottom: 10vh;
    display: inline-block;
    font-size: 2.1vw;
    padding: 5px 10px;
    margin: auto 20px;
    border: 2px solid royalblue;
    border-radius: 20px;
    box-shadow: 5px 5px blue;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 1300px;
    margin: 40px auto;
    padding: 0 20px;
}

.card {
    background: #111b2b;
    padding: 25px;
    border-radius: 12px;
    flex: 1 1 25vw;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.03);
}

.card h2 {
    margin-bottom: 20px;
    color: red;
    font-size: 1.4rem;
}

canvas {
    width: 100% !important;
    height: 340px !important;
    max-height: 350px;
}


@media (max-width: 768px) {
    .list {
        scale: 0.7;
        right: -10vw;
    }
}
@media (max-width: 620px) {
    .list {
        position: relative;
        left: 30vw;
        top: -2vh;
    }
    .sloganContainer {
        margin-top: 15vh;
    }
}